@import "other/mixins";
html, body{
    height: 100%;
    background: #c7c7c7;
}
#canvasWrapper{
    width: 100%;
    height: 100%;
    display: block;
    background: transparent;
    canvas{
        background: transparent;
    }
}