@import "other/mixins";
html, body{
    height: 100%;
    background: #000;
}
body{
    height: 2000px;
}
#canvasWrapper{
    width: 100vw;
    height: 100vh;
    display: block;
    background: transparent;
    overflow: hidden;
    canvas{
        background: transparent;
    }
}